:root {
    --first-color: #091a38;
    --first-color-light: #4fa5d0;
    --white-color: #f7f6fb;
}

.bttn {
    background-color: var(--first-color);
    color: var(--white-color);
    font-weight: 700;
    transition: 0.5s;

    &:hover {
        background-color: var(--first-color);
        color: var(--white-color);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}
#print-button {
    background-color: var(--first-color-light);
    color: var(--white-color);
    font-weight: 700;
    transition: 0.5s;
    width: 40%;
    &:hover {
        background-color: var(--first-color-light);
        color: var(--white-color);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}
.bttnn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-size: 12px;
}

.userDetails {
    background-color: #e9e9e9;
    border-radius: 12px;
    position: fixed;
    right: 30px;
    top: 70px;
    z-index: 1000;

    .list {
        align-items: flex-start;
        display: flex;
        margin: 0;
        padding: 10px 25px;
        flex-direction: column;

        .item a {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0.25rem 1.5rem;
            clear: both;
            font-weight: 400;
            color: #3a3b45;
            text-align: inherit;
            white-space: nowrap;
            background-color: transparent;
            border: 0;

            &:hover{
                color: #000;
            }

            i{
                margin-right: 10px;
            }
        }
    }
}

main {
    width: 100%;

    form {
        div {
            .mb-3 {
                label {
                    margin: 0 !important;
                }
            }
        }
        .mb-3 {
            label {
                margin: 0 !important;
            }
        }
    }
}

.flash {
    bottom: 0;
    left: 50%;
    position: fixed;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 8px;
    margin: 50px auto;
}

.flash-success {
    background-color: #0c8f0c;
}
.flash-alert {
    background-color: #ff0000;
}
.flash-notice {
    background-color: #e69b10;
}

input[type="search"] {
    margin-right: 10px;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 1.5em;
    background: #fff;
}

// table list
body {
    background-color: #f3f3f3;
}
.holder {
    background-color: #f3f3f3;
    .titlebar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 8px;
        h2 {
            font-size: 26px;
            font-weight: bold;
            margin: 20px 0;
        }
    }

    .container {
        .responsive-table {
            padding: 0;
            text-align: center;

            li {
                border-radius: 3px;
                padding: 25px 10px;
                display: flex;
                justify-content: space-between;
            }
            .even {
                background-color: #f3f3f3;
            }
            .odd {
                background-color: #ffffff;
            }

            .table-header {
                background-color: var(--first-color);
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: 0.03em;
                color: #f3f3f3;
            }
            .table-row {
                box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
            }

            .red {
                background-color: rgba(255, 0, 0, 0.1);
            }

            .blue {
                background-color: rgba(25, 0, 255, 0.1);
            }

            .hide {
                display: none;
            }

            .col-1 {
                flex-basis: 15%;
            }
            .col-2 {
                flex-basis: 15%;
            }
            .col-3 {
                flex-basis: 30%;
            }
            .col-10 {
                flex-basis: 10%;

                a {
                    .fa-eye,
                    .fa-pen-to-square {
                        color: #15ac3d;
                    }
                    .fa-trash {
                        color: #ff0000;
                    }
                }
            }
            .col-15 {
                flex-basis: 15%;
            }
            .col-20 {
                flex-basis: 20%;
                a {
                    .fa-eye,
                    .fa-pen-to-square {
                        color: #15ac3d;
                    }
                    .fa-trash {
                        color: #ff0000;
                    }
                }
            }
            .col-25 {
                flex-basis: 25%;
            }
            .col-30 {
                flex-basis: 30%;
            }
            .col-40 {
                flex-basis: 40%;
            }
            .col-50 {
                flex-basis: 50%;
            }
            .col-60 {
                flex-basis: 60%;
            }
            .col-70 {
                flex-basis: 70%;
            }
            .col-80 {
                flex-basis: 80%;
            }
            .col-90 {
                flex-basis: 90%;
            }
            .col-100 {
                flex-basis: 100%;
            }

            .col-4 {
                flex-basis: 10%;

                a {
                    .fa-eye,
                    .fa-pen-to-square {
                        color: #15ac3d;
                    }
                    .fa-trash {
                        color: #ff0000;
                    }
                }
            }

            @media all and (max-width: 1000px) {
                .table-header {
                    display: none;
                }

                li {
                    display: block;
                }
                .col {
                    flex-basis: 100%;
                    width: 100%;
                }
                .col {
                    display: flex;
                    padding: 10px 0;
                    &:before {
                        color: #6c7a89;
                        padding-right: 10px;
                        content: attr(data-label);
                        flex-basis: 50%;
                        text-align: right;
                    }
                }
            }
        }

        #pagination-buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            li {
                list-style-type: none;
                text-align: center;
                font-size: 18px;
                font-weight: 600;
                cursor: pointer;
                background-color: transparent;
                border: 0.5px solid #000;

                margin: 10px;
                border-radius: 50px;
                color: #000;
                padding: 0 10px;
            }
            .numb {
                height: 35px;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .bttn {
                line-height: 30px;
                font-size: 22px;
                display: flex;
                align-items: center;

                &:hover {
                    background-color: var(--first-color);
                    color: #fff;
                    box-shadow: 0 0 20px #fff;
                    border: 0;
                }
            }
            .active {
                background-color: var(--first-color);
                color: #fff;
                border: 0;
                box-shadow: 0 0 20px;
            }
        }
    }

    @media all and (max-width: 850px) {
        .titlebar {
            flex-direction: column;
            align-items: stretch;

            h2 {
                font-size: 20px;
                margin: 20px 0;
            }
            input,
            a {
                margin-bottom: 20px;
            }
        }
    }
}

// Go back button

.goback {
    font-size: 1.7em;
    color: var(--first-color);
    text-decoration: none;
    &:hover {
        color: #122a53;
    }
}

// Signle page element

.shoow {
    tbody {
        tr {
            padding: 8px 0;
        }
        tr:nth-child(even) {
            background-color: #f5f5f5;
        }
    }
}

.validations {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .edit,
    .del {
        width: 45%;
        color: #fff;
    }
    .edit {
        background-color: var(--first-color);
    }
    .del {
        background-color: #ff0000;
    }
}

// ***********************titre de page ******************

.titrepage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1,
    h2 {
        font-size: 40px;
        text-transform: uppercase;
        font-family: "Gambetta", serif;
        letter-spacing: -3px;
        transition: 700ms ease;
        font-variation-settings: "wght" 311;
        margin-bottom: 20px;
        color: var(--first-color);
        outline: none;
        text-align: center;
    }
}

//    check box ***********************************
.checkbox-wrapper-65 *,
.checkbox-wrapper-65 ::after,
.checkbox-wrapper-65 ::before {
    box-sizing: border-box;
}
.checkbox-wrapper-65 .cbx {
    position: relative;
    display: flex;
    float: left;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: #86868b;

    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.15), inset 0 -1px 1px rgba(0, 0, 0, 0.15);
    transition: all 0.15s ease;
}
.checkbox-wrapper-65 .cbx svg {
    position: absolute;
    top: 3px;
    left: 3px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 17;
    stroke-dashoffset: 17;
    transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-65 .cbx + span {
    float: left;
    margin-left: 6px;
    margin-right: 6px;
}
.checkbox-wrapper-65 {
    user-select: none;
    display: inline;
}
.checkbox-wrapper-65 label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 8px;
}
.checkbox-wrapper-65 input[type="checkbox"] {
    display: none;
    visibility: hidden;
}
.checkbox-wrapper-65 input[type="checkbox"]:checked + .cbx {
    background-color: #606062;
    background-image: linear-gradient(var(--first-color), var(--first-color-light));
}
.checkbox-wrapper-65 input[type="checkbox"]:checked + .cbx svg {
    stroke-dashoffset: 0;
    transition: all 0.15s ease;
}

// **********************************filtrage ****************
.filtrage {
    display: inline-flex;
}
