@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #091a38;
    --first-color-light: #4fa5d0;
    --white-color: #f7f6fb;
    --body-font: "Nunito", sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    
    overflow-x: hidden;
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        border-radius: 20px;
    }

    ::-webkit-scrollbar-track {
        background-color: #F5F5F5;
      }
      
      
      ::-webkit-scrollbar-thumb {
        background-color: #000000;
        border-radius: 10px;
      }
      
      
      ::-webkit-scrollbar-thumb:hover {
        background-color: #555555;
      }
}
body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0;
    
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: 0.5s;
}
a {
    text-decoration: none;
}
.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #f3f3f3;
    z-index: var(--z-fixed);
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.user-container {
    display: flex;
    align-items: center;
    cursor: pointer;
  
    .user-info {
      margin-left: 10px;
    }
  
    .dropdown-icon {
      margin-left: 10px;
      cursor: pointer;
      margin-top: 5px;
    }
  
    &:hover .dropdown-panel {
      display: block;
    }
  }
  
  .dropdown-panel {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: 0.5rem 1rem 0 0;
    transition: 0.5s;
    z-index: var(--z-fixed);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-image: url('images/engrenage.png');
    background-position: bottom left;
    background-size: 220px;
    background-repeat: no-repeat;
}
.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
   
}
.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
}
.nav_logo {
    margin-bottom: 2rem;
}
.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color);
}
.nav_logo-name {
    color: var(--white-color);
    font-weight: 700;
}
.nav_link {
    position: relative;
    color: var(--first-color-light)!important;
    margin-bottom: 0.5rem;
    transition: 0.3s;
    font-size: 13px;
}
.nav_link:hover {
    color: var(--white-color)!important;
}
.nav_icon {
    font-size: 1.25rem;
}
.show {
    left: 0;
}
.body-pd {
    padding-left: calc(var(--nav-width) + 1rem);
}
.active {
    color: var(--white-color)!important;
    // background-color:var(--first-color-light) ;
    border-radius: 10px;
    // margin-left: 10px;
   
}
.active::before {
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color);
}
.height-100 {
    height: 100vh;
}

.lignenav{
    height: 10px;
    border-bottom: 1px solid var(--first-color-light);
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.lignenavsep{
    width: 60%;
    margin: 15px auto;
}
.titrenav{
    color: var(--first-color-light);
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    font-size: 12px;
    padding: 8px 18px;
    margin-bottom: 0;
}

.hide{
  display:none;
}
@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
    }
    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }
  
   
    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0;
    }
    .show {
        width: calc(var(--nav-width) + 156px);
    }
    .body-pd {
        padding-left: calc(var(--nav-width) + 188px);
    }
  
}
@media screen and (max-width: 768px) {
    .titrenav{
        display: none;
    }
}
// *********************card******************************
.cards {
    display: flex;
    justify-content: space-between;
 
  
  .card {
    flex-basis: calc(20% - 10px);
    margin-right: 10px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

.info{
    font-weight: 700;
}
.calcul{
    font-weight: 700;

}

  }
  
  .card:last-child {
    margin-right: 0;
  }
  .card:nth-child(1){
    background-color: rgba(75, 192, 192, 0.2);
    border: 1px solid rgba(75, 192, 192,1);
  
  }
  .card:nth-child(2){
    background-color:rgba(255, 255, 0,0.2) ;
    border: 1px solid rgba(255, 255, 0,1);
  }
  .card:nth-child(3){
    background-color: rgba(54, 162, 235, 0.2);
    border: 1px solid rgba(54, 162, 235,1);
  }
  .card:nth-child(4){
    background-color:rgba(255, 119, 0, 0.268) ;
    border: 1px solid #ff7700;
  }
  .card:nth-child(5){
    background-color:rgba(255, 255, 0,0.2) ;
    border: 1px solid #ffff00;
  }
  .card:nth-child(6){
    background-color: rgba(75, 192, 192, 0.2);
    border: 1px solid rgba(75, 192, 192,1);
  }
}

@media only screen and (max-width: 768px) {
    #myChart{
        width: 100%;
    } 
    .card{
        flex-direction: column;
    }   
}
h6{
    text-align: center;
}






//******************card sarahmed**********
.ensemble{
  background: white;
  width: 80%;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
 
  margin: 10px auto;
}



.seul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.seul .infocard {
  background-color: #ffffff;
  width: 160px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 2%;
  transition: 0.5s;
}
 .ensemble .infocard {
  box-shadow: none;
  background-color: transparent;
  width: 160px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 12px;
  transition: 0.5s;
}

.seul .infocard:nth-child(1){
  background-color: rgba(75, 192, 192, 0.2);
  border: 1px solid rgba(75, 192, 192,1);
}
.seul .infocard:nth-child(2){
  background-color:rgba(255, 255, 0,0.2) ;
  border: 1px solid rgba(255, 255, 0,1);
}
.seul .infocard:nth-child(3){
  background-color: rgba(54, 162, 235, 0.2);
  border: 1px solid rgba(54, 162, 235,1);
}
.seul .infocard:nth-child(4){
  background-color:rgba(255, 119, 0, 0.268) ;
  border: 1px solid #ff7700;
}
.seul .infocard:nth-child(5){
  background-color:rgba(255, 255, 0,0.2) ;
  border: 1px solid rgba(255, 255, 0,1);
}
.seul .infocard:nth-child(6){
  background-color: rgba(75, 192, 192, 0.2);
  border: 1px solid rgba(75, 192, 192,1);
}

.d{
  background-color: rgba(75, 192, 192, 0.2);
  box-shadow: rgba(75, 192, 192,1) 0px 1px 4px;

}

.c{
  background-color: rgba(54, 162, 235, 0.2);
  box-shadow: rgba(54, 162, 235,1) 0px 1px 4px;
  
}
.b{
  background-color:rgba(255, 119, 0, 0.268) ;
  box-shadow: #ff7700 0px 1px 4px;

}
.aa{
  background-color:rgba(255, 255, 0,0.2) ;
  box-shadow:#ffff00 0px 1px 4px;

 
}

.infocard-container .infocard .text {
  text-align: center;
  font-size: 0.8rem;
  width: 60%;
}

.infocard-container .infocard a {
  margin-bottom: 15px;
  margin-top: 10px;
  color: var(--first-color-light);
}

.infocard-container .infocard .text h2 {
  font-weight: 700;
  margin-bottom: 0 !important;
}

.infocard-container .infocard .text p {
  margin-bottom: 2px;
}

.infocard-container .infocard i {
  font-size: 2em;
  margin: 0 5%;
}



// chart 
#piechart svg g g:last-child text {
  white-space: pre-line;
}

// filterformannee

.filterformannee{
  display: flex;

  h4{  display: flex;}
  input{
    background-color: transparent;
    border: none;
    text-align: center;
    width: 90px;
  }
  button{
    width: 40px;
    border-radius:5px ;
    color: #f3f3f3;
    background-color: var(--first-color);
  }
}
.titrecharte{
  margin-left: 20px;
}
// ***********formulaire budget**********



#Formulairedebudget {

  width: 70%;
  border-radius: 5px;
  border: 0.5px solid var(--first-color);
  background-color: #f2f2f2;
  padding: 10px;
  margin:40px auto ;
  input[type=text], input[type=date], select {
    width: 100%;
    padding: 8px 20px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 100%;
    background-color: #091a38b6;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #091a38;
  }
}
  .titreformbudget{
    text-align:center;
    margin-top: 50px;
  }