/* Header */
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .flash{
    bottom: 0;
    left: 50%;
    position: fixed;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 8px;
    transform: translate(-50%, -50%);
    margin: 50px auto;
}

.flash-success{
    background-color: #0c8f0c;
}

.flash-alert{
  background-color: #ff0000;
}
.flash-notice{
    background-color: #e69b10;
}
  .large-header {
    position: relative;
    width: 100%;
    background: #333;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
  }
  #large-header {
    background-image: linear-gradient(rgba(12, 12, 12, 0.3), rgba(12, 12, 12, 0.3)), url(./images/back.webp);
    background-position: center;
  }
  .main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: rgb(59, 57, 57);
    text-align: center;
    top: 45%;
    left: 50%;
    width: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -55%, 0);
  }
  .demo-1 .main-title {
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 0.1em;
  }
  .main-title .thin {
    font-weight: 200;
  }
  @media only screen and (max-width: 768px) {
    .demo-1 .main-title {
      font-size: 3em;
    
    }
  }

  
  .ConnectForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2% auto;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 13px;
    width: 80%;
    height: 100%;
  
    h2 {
      text-align: center;
      margin: 10% 0;
      font-size: 1.6em;
    }
  
    form {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .user,
      .pass {
        position: relative;
        width: 85%;
  
        .fa-user {
          position: absolute;
          top: 33%;
          left: 4.5%;
        }
        input {
          
          margin: 2% auto;
          font-size: 0.9em;
          width: 90%;
          padding: 8px 0 8px 35px;
          border-radius: 8px;
          border: 0;
        }
  
        .fa-lock {
          position: absolute;
          top: 34%;
          left: 4.5%;
        }
  
        .fa-eye {
          position: absolute;
          top: 34%;
          right: 7%;
          display: none;
          cursor: pointer;
        }
  
        .fa-eye-slash {
          position: absolute;
          top: 34%;
          right: 7%;
          display: none;
          cursor: pointer;
        }
      }
  
      .btn {
        background-color: #091540;
        border: 0;
        border-radius: 15px;
        color: #ffffff;
        cursor: pointer;
        font-size: 0.8rem;
        font-weight: 600;
        width: 200px;
        height: 40px;
        text-align: center;
        transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
        margin-top: 3%;
  
        &:hover {
          box-shadow: rgba(180, 180, 180, 0.25) 0 8px 15px;
          transform: translateY(-2px);
        }
  
        &:active {
          box-shadow: none;
          transform: translateY(0);
        }
      }
      .message {
        margin: 15px 0 0;
        color: black;
        font-size: 12px;
        margin-bottom: 10%;
  
        a {
          color: darkblue;
          text-decoration: none;
        }
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .main-title{
      width: 90%;
    }
  }
  @media screen and (max-width: 600px) {
    .main-title{
      width: 100%;

      .ConnectForm{
        width: 99%;
      }
    }
  }
  