<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Ajout bid</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script src="https://kit.fontawesome.com/6429933a54.js" crossorigin="anonymous"></script>
		{% endblock %}
	</head>
	<body>
		<div class="container">
			<h1>Ajouter un objet</h1>

			<div class="fomm col-md-6 mx-auto">
				<input type="number" class="form-control mb-2" id="bid" placeholder="Bid" required>
				<input type="number" class="form-control mb-2" id="idProduct" placeholder="Id Product" required>
				<input type="number" class="form-control mb-2" id="idBuyer" placeholder="Id Buyer" required>
				<input type="number" class="form-control mb-2" id="idSeller" placeholder="Id Seller" required>
				<input type="text" class="form-control" id="message" placeholder="Message" required>
				<input type="checkbox" id="active" class="mt-3" style="margin-right: 10px;"><label style="display: contents;">Active</label> <br>
				<button class="btn bttn edit w-100 mt-4" onclick="addObject();">Ajouter</button>
			</div>
			
			<p id="response"></p>
		</div>

		<script>
			function addObject() {
				var id = {{ ob.id }} + 1;
				var bid = document.getElementById('bid').value;
				var idProduct = document.getElementById('idProduct').value;
				var idBuyer = document.getElementById('idBuyer').value;
				var idSeller = document.getElementById('idSeller').value;
				var message = document.getElementById('message').value;
				var active = document.getElementById('active').value;
				var update = new Date();

				var data = {
					id : id,
					bid : bid,
					idProduct : idProduct,
					idBuyer : idBuyer,
					idSeller : idSeller,
					message : message,
					create : create,
					active : active
				};

				fetch('http://localhost:8080/api-0.0.1/api/Bids/', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						'Accept' : 'application/json',
                		'Authorization' : 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzUxMiJ9.eyJzdWIiOiJ0ZXN0IiwiYXVkIjoiYXBpIiwiaXNzIjoiL3NlY3VyaXR5IiwiZXhwIjoxNzExOTc2NTY5LCJpYXQiOjE3MTEzNzE3NjksImp0aSI6IjFjMmRmYmEwLTMxNDItNGQzOC04N2RlLWU4OTExN2QxZDZlZiJ9.fiSdwSslQUjwoZvbipNUl71wco4odN9jKHpbKAVGdoS1SX1M4NLQHdUZNXb8gYh8UnawwXPkWXBaMN98uoHzz8jTYvUNd75tFMval0ebFlL1sbq1IR_sL-Q2YaQd0CQEl1IyC9NNnU1KTmQchy97wvmI-PCyk6sO1K7HlrcBWpyXfsHh3t5hh7bmpYah2HZnBxzPZGXF88xxhxah65QiOlJSekUtBNvo78OhEliVuUKGC5fkxePJnKfcX8tcCQDWsJwdyArmAzrYHIoB4S0sG1Q5-x0wsZ2Miv3Udx8tX8v36nBWtEljHncAPSWSYr0i8PXJTZ96WcBLYsy--BYUjFR0lpBu_s4pHshQO_h4ZRiL4xIBDGlNODqLlI9Xg5u6szUCWBeOzPdRIWmzvxcHpa4X9qGSwMKqPX4kvrmChRirz5rfj9HOM5o69wlaGqO068L3YdQFBrlMoTk2WZN3RHFraaG9DAwro4iK8b3r5fvpJG4gTEOw8SYcMITZWbgbFKh6WJZ1nYnkAnvzGBazTvoQGhsJj1mRxk0oXakJlY0XNiIIndqStq0bXQoYhPvDRV7wZSvX7KcdGR0JKoPUVA'
					},
					body: JSON.stringify(data)
				})
				.then(response => response.json())
				.then(data => {
					document.getElementById('response').innerText = "Objet ajouté avec succès!";
				})
				.catch(error => {
					console.error('Erreur :', error);
					document.getElementById('response').innerText = "Une erreur s'est produite lors de l'ajout de l'objet.";
				});
			}
		</script>
	</body>
</html>
