{% extends 'base.html.twig' %}

{% block title %}Informations bid
{% endblock %}


{% block body %}
	<div class="mt-4">
		<a class="goback" href="{{ path('app_api') }}">
			<i class="fa-solid fa-arrow-left"></i>
		</a>
		<div class="row">
		        <div class="col-lg-9 mx-auto mt-4">
				<h1 class="mb-4">Bid N°
					{{ objt.id }}</h1>

				<table class="table shoow">
					<tbody>
						<tr>
							<th>Id</th>
							<td>{{ objt.id }}</td>
						</tr>
						<tr>
							<th>Bid</th>
							<td>{{ objt.bid }}</td>
						</tr>
						<tr>
							<th>Id Product</th>
							<td>{{ objt.idProduct }}</td>
						</tr>
						<tr>
							<th>Id Buyer</th>
							<td>{{ objt.idBuyer }}</td>
						</tr>
						<tr>
							<th>Id Seller</th>
							<td>{{ objt.idSeller }}</td>
						</tr>
						<tr>
							<th>Message</th>
							<td>{{ objt.message }}</td>
						</tr>
						<tr>
							<th>Date création</th>
							<td>{{ objt.dateCreate|date('d-m-y') }}</td>
						</tr>
						<tr>
							<th>Id modification</th>
							<td>{{ objt.dateUpdate|date('d-m-y') }}</td>
						</tr>
						<tr>
							<th>Etat</th>
							<td>{% if objt.active %}Activé {% else %}Terminé{% endif %}</td>
						</tr>
					</tbody>
				</table>

				<div class="validations">
					<a class="btn bttn edit" href="{{ path('app_api_Bid_Update', {'id': objt.id}) }}">Modifier</a>
					<a class="btn bttn del" href="#" onclick="event.preventDefault();confirm('Voullez vous vraiment supprimer ce bid?') && document.getElementById('objt_delete{{ objt.id }}').submit()">Supprimer</a>
				</div>
			</div>
		</div>


		<form id="objt_delete{{ objt.id }}" style="display: none;" method="post" action="{{ path('app_api_Bid_Delete', {'id': objt.id}) }}">
			<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ objt.id) }}">
			<button class="btn"></button>
		</form>

	</div>
{% endblock %}
