{% extends 'base.html.twig' %}

{% block title %}Bids
{% endblock %}

{% block body %}

	<div class="holder">

		<div class="titlebar">
			<h2>Liste des bids</h2>
			<div>
				<a class="btn bttn" style="margin-right: 30px;" href="{{ path('app_api_Bid_Add') }}">Ajouter un bid</a>
			</div>
		</div>

		<div class="container">
			<ul class="responsive-table">
				<li class="table-header">
					<div class="col col-10">Id</div>
					<div class="col col-10">Bid</div>
					<div class="col col-10">Id Product</div>
					<div class="col col-10">Id Buyer</div>
					<div class="col col-10">Id Seller</div>
					<div class="col col-20">Message</div>
					<div class="col col-10">Etat</div>
					<div class="col col-10">Actions</div>
				</li>

				{% for objt in objects %}


					<li class="table-row even">
						<div class="col col-10" data-label="Id :">{{ objt.id }}</div>
						<div class="col col-10" data-label="Bid :">{{ objt.bid }}</div>
						<div class="col col-10" data-label="Id Product :">{{ objt.idProduct }}</div>
						<div class="col col-10" data-label="Id Buyer :">{{ objt.idBuyer }}</div>
						<div class="col col-10" data-label="Id Seller :">{{ objt.idSeller }}</div>
						<div class="col col-20" data-label="Message :">{{ objt.message }}</div>
						{# <div class="col col-10" data-label="Date création :">{{ objt.dateCreate|date('d-m-y') }}</div>
						<div class="col col-10" data-label="Date modification :">{{ objt.dateUpdate|date('d-m-y') }}</div> #}
						<div class="col col-10" data-label="Etat :">{% if objt.active %}Activé {% else %}Terminé{% endif %}</div>
						<div class="col col-10" data-label="Actions :">


							<a class="mx-1" href="{{ path('app_api_Bid', {'id': objt.id}) }}">
								<i class="fa-solid fa-eye" style="color: green;" title="Voir plus"></i>
							</a>
							<a class="mx-1" href="{{ path('app_api_Bid_Delete', {'id': objt.id}) }}">
								<i class="fa-solid fa-trash" style="color: #ff0000;" title="Supprimer"></i>
							</a>
						</div>
					</li>
				{% else %}
					<li class="table-row">
						<h5 class="text-center w-100 m-0">Aucun bid trouvé</h5>
					</li>
				{% endfor %}

			</ul>
		</div>
	</div>

{% endblock %}
